.dcarousel {
  position: fixed !important;
  /* top: 15vh; */
  top: 24px;
  left: 24px;
  right: 24px;
  bottom: 0px;
  width: 70%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  z-index: 99999;
  /* width: 1000px; */
  /* height: 560px; */
  /* border: 5px solid #ffffff; */
  /* border-radius: 10px; */

  @media (max-width: 1024px) {
    left: 0;
    top: 24px;
    right: 0;
  }
}

.dcarousel .carousel-item {
  
}

.imgInfo{
  background-color: rgba(0,0,0, .8);
  position: absolute;
   z-index: 9999;
   color: #e5e5e5;
   bottom: 0;
   padding: 10px;
   margin: auto;
   width: 100%;

   p {
    padding-bottom: .2rem !important;
    font-weight: norma;
    font-size: .9rem;
    line-height: 1.4;
   }

   .ql-editor {
        padding: 0rem 0 0px;
    p, p span {
      color: #e5e5e5;
    }
   }
}

.dcarousel .carousel-item img {
  object-fit: cover;
  /* width: auto; 
  height: 600px; */
  width: auto;
  height: 95vh;
  margin: 0 auto;
}



.dcarousel .closeCarousel {
  position: absolute;
  top: 24px;
  right: 24px;
  color: rgba(255, 255, 255, .5);;
  cursor: pointer;
  z-index: 99;
  /* background: #fff; */
  /* width: 40px;
  height: 40px; */
  /* border-radius: 25px; */
  /* border-top-right-radius: 0; */
  /* text-align: center; */
  /* line-height: 45px; */
  /* box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6); */
}

@media (max-width: 991px) {
  .dcarousel {
    width: 100%;
  }
  .dcarousel .carousel-inner {
    width: 90%;
    margin: auto;
  }

  .dcarousel .carousel-item img {
    width: 100%;
  }
  
  .dcarousel .closeCarousel {
    right:unset;
    right: 60px;
  }

}

@media (max-width: 576px) {
  .dcarousel .closeCarousel {
    right:unset;
    right: 30px;
  }

  .carousel-control-next, .carousel-control-prev {
    height: 90vh;
    width: 20%;
  }
}

.dcarousel .closeCarousel {
  color: #000000;
  border: 1px solid #fff; 
  padding: 10px;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover  {
    /* color: #DDFF86; */
    background-color: #fff;
  }
}

/* .dcarousel .carousel-item {
    display: block;
} */
